﻿@model StudentExamReportCard.ViewModel.StudentMasterViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("btnAddToList").click(function(){
            AddMarksIntoTable();
        });
    });
    function AddMarksIntoTable() {
        var markstable = $("#tblStudentMarks");
    }
</script>


<h2>Student Marks</h2>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Student Marks</button>

<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>               
                <h4 class="modal-title">Student Result</h4>
            </div>
            <div class="modal-body">
               <div class="container">
                   <div class="=form-group col-sm-6">
                       @Html.LabelFor(model=>model.Name)
                       @Html.TextBoxFor(model=>model.Name, new { @class="form-control", id="txtName"})
                   </div>
                   <div class="form-group col-sm-6">
                       @Html.LabelFor(model=>model.Class)
                       @Html.TextBoxFor(model=>model.Class, new { @class="form-control", id="txtClass"})
                   </div>
                   <div class="form-group col-sm-6">
                       @Html.LabelFor(model=>model.RollNumber)
                       @Html.TextBoxFor(model=>model.RollNumber, new {@class="form-control", id="txtRollNumber" })
                   </div>
                   <div class="form-group col-sm-6">
                       @Html.LabelFor(model=>model.ExamId)
                       @Html.DropDownListFor(model=>model.ExamId, Model.ListOfExam, new { @class="form-control", id= "ddlExamId" })
                   </div>
                   <fieldset>
                       <legend>Student Mark</legend>
                       <div class="form-group col-sm-4">
                           @Html.LabelFor(model => model.SubjectId)
                           @Html.DropDownListFor(model => model.SubjectId, Model.ListOfSubject, new { @class = "form-control", id = "ddlSubjectId" })
                       </div>
                       <div class="form-group col-sm-4">
                            @Html.LabelFor(model=>model.TotalMarks)
                           @Html.TextBoxFor(model=>model.TotalMarks, new { @class="form-control", id="txtTotoalMarks", @style = "text-align:right" })
                        </div>
                       <div class="form-group col-sm-4">
                           @Html.LabelFor(model => model.MarksObtained)
                           @Html.TextBoxFor(model => model.MarksObtained, new { @class = "form-control", id = "txtMarksObtained", @style="text-align:right" })
                       </div>
                       <div class="form-group">
                           <input id="btnAddToList" type="button" name="addToList" value="Add To List" class="btn btn-danger" style="float:right" />
                       </div>
                       <table class="table table-condensed" style="width:100%" id="tblStudentMarks">
                           <thead>
                               <tr>
                                   <th>
                                       Subject
                                   </th>
                                   <th>
                                       Total Marks
                                   </th>
                                   <th>
                                       Marks Obtained
                                   </th>
                                   <th>
                                       Percentage
                                   </th>
                               </tr>
                           </thead>

                       </table>
                   </fieldset>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>